{% extends "base.html" %}
{% block conteudo %}
<div class="row">
    <div class="col-md-6" align="right">
        <a href="{% url 'pokedex:listar_pokemons'  %}">
            <div class="card-header text-white bg-transparent" style="width: 18rem;">
                <img src="{{ pokemon.imagem.url }}" class="card-img-top" alt="...">
                <div class="card-body" align="center">
                    <h5 class="card-title">{{ pokemon.nome }}</h5>
                    <p class="card-text"> Categoria: {{ pokemon.fk_categoria.nome }}</p>
                    <p class="card-text">Ataque: {{ pokemon.ataque }}</p>
                    <p class="card-text">Defesa: {{ pokemon.defesa }}</p>
                    <p class="card-text">Altura: {{ pokemon.altura }}</p>
                    <p class="card-text">Saude: {{ pokemon.ponto_saude }}</p>
                    <p class="card-text">Ataque especial: {{ pokemon.ataque_especial }}</p>
                    <p class="card-text">Defesa especial: {{ pokemon.defesa_especial }}</p>
                    <p class="card-text">velocidade: {{ pokemon.velocidade }}</p>

                </div>
            </div>
        </a>
    </div>

    {% for evolucao in pokemon.evolucao.all %}
    <div class="col-md-6" align="left">
        <a href="{% url 'pokedex:um_pokemon' idpokemon=evolucao.id %}">
            <div class="card-header text-white bg-transparent" style="width: 18rem;">
                <img src="{{ evolucao.imagem.url }}" class="card-img-top" alt="...">
                <div class="card-body" align="center">
                    <h5 class="card-title">{{ evolucao.nome }}</h5>
                    <p class="card-text"> Categoria: {{ evolucao.fk_categoria.nome }}</p>
                    <p class="card-text">Ataque: {{ evolucao.ataque }}</p>
                    <p class="card-text">Defesa: {{ evolucao.defesa }}</p>
                    <p class="card-text">Altura: {{ evolucao.altura }}</p>
                    <p class="card-text">Saude: {{ evolucao.ponto_saude }}</p>
                    <p class="card-text">Ataque especial: {{ evolucao.ataque_especial }}</p>
                    <p class="card-text">Defesa especial: {{ evolucao.defesa_especial }}</p>
                    <p class="card-text">velocidade: {{ evolucao.velocidade }}</p>
                </div>
            </div>
        </a>
    </div>
</div>
{% endfor %}
</div>

<div class="row">
    <div class="col-md-12" align="center">
        <a href="{% url 'pokedex:listar_pokemons' %}">
            <button type="button" class="btn btn-dark">Voltar</button>
        </a>
    </div>
</div>

{% endblock %}